{{ define "main" }}

<header>
    {{ partial "post-title" . }}
    {{ partial "post-date" . }}
    <hr>
</header>
<article class="blog-post">
    {{ .Content }}

    {{ if .IsTranslated }}
      <h4>{{ i18n "translations" }}</h4>
      <ul>
        {{ range .Translations }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
    <hr>
    {{ partial "post-tags" . }}
    {{ partial "post-categories" . }}
    <hr>

    {{ partial "related" . }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

      <h4 class="page-header">Comments</h4>

      {{ template "_internal/disqus.html" . }}

    {{ end }}
</article>

{{ end }}
